$width-sidebar: 240px;
$min-width-main: 500px;
$height-navbar: 50px;
$input-height: 26px;
$color-mwm: #2b4c90;
$color-status-yellow: #ffd800;
$color-status-red: #c00;
$color-status-green: #4c0;
$color-primary: #337ab7;
$color-danger: #dc3545;
$color-primary-light: rgba(#00529a, .15);
$color-primary-light-fixed: #d9e5f0;
$color-warning: #f0ad4e;
$color-postit: #ffe;
$color-shadow: rgba(0, 40, 80, 0.4);

body::-webkit-scrollbar {
    display: none;
  }
.mwm-overview::-webkit-scrollbar {
    display: none;
  }

// EOF
// EOF

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Droid Sans', serif;
  background-color: white;
}
