<nav class="navbar">
    <div class="navbar__left">
      <img src="assets/logo.png" alt="MWM Logo" class="navbar__logo" />
      <span class="navbar__brand">MWM Group</span>
    </div>
  
    <div class="navbar__center">
      <span class="navbar__link navbar__link--bold">Mediaprint</span>
      <span class="navbar__link">Mediaprint</span>
      <span class="navbar__link">
        <i class="fa fa-database"></i>
        p365-dev-mediaprint9
      </span>
    </div>
  
    <div class="navbar__right">
      <span class="navbar__link">Print 365</span>
      <span class="navbar__link">Production planning</span>
      <span class="navbar__link">Admin</span>
      <span class="navbar__link">Help</span>
      <span class="navbar__user">
        <i class="fa fa-user"></i>
        mwm
      </span>
    </div>
  </nav>
  